/* BASICS */
body {
  padding: 0px;
  margin: 0px;
}

.clear {
  clear: both;
}

.img-scaled-w {
  width: 100%;
}

.img-scaled-h {
  height: 100%;
}

.img-scaled-wh {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.left {
  position: relative;
  float: left;
  margin: 10px 0px;
}

.right {
  position: relative;
  float: right;
  margin: 10px 0px;
}

.left-offset {
  left: 220px;
}

.clearfix {
  overflow: auto;
  zoom: 1; 
}

*:hover {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.button {
  display: inline-block;
  position: relative;
  /*margin: 0px 5px 0px 0px;*/
  padding: 0px 15px;
  line-height: 30px;
  color: white;
  border: 0px;
  border-radius: 5px;

  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

a {
  color: inherit;
}