/*
TABLE OF CONTENTS
------------------
1. Basics, layout
2. Divs
2. Fonts
3. Colors
*/

/* 1. Basics, layout */
.clear {
  clear: both;
}

.img-scaled-w {
  width: 100%;
}

.img-scaled-h {
  height: 100%;
}

body {
  margin: 0px;
}

/* Imported fonts */
@font-face {
<<<<<<< HEAD
  font-family: 'Klinic Slab Medium';
  src: url(../fonts/KlinicSlabMedium.otf);
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
=======
  font-family: 'Klinic Medium';
  src: url(../fonts/KlinicSlabMedium.otf);
>>>>>>> 874d819dfd3b1187a46e33bdcd084ef7a26db518
}


/* 2. Divs */
#navbar {
  width: 100%;
  padding: 10px 0px;
  position: fixed;
  background: #8a7595;
  z-index: 100;
}

#logo {
  display: inline-block;
  float: left;
  margin: 0px 10px;
  color: #ffffff;
  line-height: 30px;
  font-family: 'Klinic Slab Medium', 'Georgia', serif;
<<<<<<< HEAD
  font-size: 20px;
=======
>>>>>>> 874d819dfd3b1187a46e33bdcd084ef7a26db518
}

#search-field {
  display: inline-block;
  margin: 0px 0px 0px 10px;
<<<<<<< HEAD
  padding: 0px 10px;
=======
  padding: 0px 5px;
>>>>>>> 874d819dfd3b1187a46e33bdcd084ef7a26db518
  border-radius: 5px;
  border-style: none;
  line-height: 30px;
  width: 300px;

  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;

}

#search-button {
  /* COLOR/TYPOGRAPHY CHANGES NEEDED */
  display: inline-block;
  position: relative;
  margin: 0px 5px 0px 0px;
  padding: 0px 15px;
  line-height: 30px;
  left: -5px;
<<<<<<< HEAD
  background-color: #320f41; /* FIX THIS COLOR */
  color: white;
  border: 0px;

=======
  /*padding: 0px 10px;*/
  background-color: #320f41; /* FIX THIS COLOR */
  color: white;
  border: 0px;
>>>>>>> 874d819dfd3b1187a46e33bdcd084ef7a26db518
  border-top-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0px;
}

#search-button:hover {
  background-color: #5f1669;
  cursor: pointer;
}

.left-sidebar {
  position: fixed; 
  background-color: rgba(0, 0, 0, 0.10);
<<<<<<< HEAD
  padding: 75px 15px;
=======
  padding: 15px;
>>>>>>> 874d819dfd3b1187a46e33bdcd084ef7a26db518
  width: 200px;
  height: 100%;
}

.left-sidebar-item {
  margin-left: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  display: block;
}

/*.right-sidebar {
  display: inline-block;
  position: relative;
  /*float: right;*/
/*}*/


.right-sidebar {
  display: inline-block;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.10);
  padding: 15px;
  width: 200px;
  height: 100%;
}

.right-sidebar-item {
  margin-left: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  display: block;
}

.contact-info-box {
  /*width: */
  position: absolute;
  
}

.main-content {
  width: 700px;
  padding: 100px 20px;
  margin-left: 230px;
}

.gallery {
  position: relative;
}

.main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /*position: relative;*/
  /*position: absolute;*/
  width: 600px;
  height: 400px;
  object-fit: cover;
  overflow: hidden;

  /*margin: 10px;*/
}

.thumbnail-row {
  display: block;
  width: 100%;
  height: 100px;
  margin: 10px;
}

.thumbnail {
  display: inline-block;
  /*margin: 5px;*/
  position: relative;
  /*float: left;*/
  width: 100px;
  height: 100px;
  object-fit: cover;
  overflow: hidden;
  text-align: center;
}

.thumbnail-box {
  display: inline-block;
  margin: 5px;
}

.description-box {

}

.description {
  margin: 10px;
}

.right-sidebar {
  display: inline-block;
  position: relative;
  /*float: right;*/
}


/* Fonts */
.description-box {
 display: block;
 margin-left: auto;
 margin-right: auto;
}

.description {
  margin: 10px;
  color: #000000;
}

<<<<<<< HEAD
=======

/* Fonts */
body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}
>>>>>>> 874d819dfd3b1187a46e33bdcd084ef7a26db518
