/*
TABLE OF CONTENTS
------------------
1. Basics, layout
2. Divs
2. Fonts
3. Colors
*/

/* 1. Basics, layout */
body {
  padding: 0px;
  margin: 0px;
}

.clear {
  clear: both;
}

.img-scaled-w {
  width: 100%;
}

.img-scaled-h {
  height: 100%;
}

.img-scaled-wh {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.left {
  position: relative;
  float: left;
  /*margin: 10px 10px 10px 0px;*/
  margin: 10px 0px;
}

.right {
  position: relative;
  float: right;
  /*margin: 10px 0px 10px 10px;*/
  margin: 10px 0px;
}

.left-offset {
  left: 230px;
}

/* Imported fonts */
@font-face {
  font-family: 'Klinic Slab Medium';
  src: url(../fonts/KlinicSlabMedium.otf);
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}


/* 2. Divs */
#navbar {
  width: 100%;
  padding: 10px 0px;
  position: fixed;
  background: #8a7595;
  z-index: 10;
}

#logo {
  display: inline-block;
  float: left;
  margin: 0px 10px;
  color: #ffffff;
  line-height: 30px;
  font-family: 'Klinic Slab Medium', 'Georgia', serif;
  font-size: 20px;
}

#search-field {
  display: inline-block;
  margin: 0px 0px 0px 10px;
  padding: 0px 10px;
  border-radius: 5px;
  border-style: none;
  line-height: 30px;
  width: 300px;

  border-top-left-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 5px;

  font-family: inherit;
  font-size: inherit;
}

#search-button {
  display: inline-block;
  position: relative;
  margin: 0px 5px 0px 0px;
  padding: 0px 15px;
  line-height: 30px;
  left: -5px;
  /*padding: 0px 10px;*/
  background-color: #320f41; /* FIX THIS COLOR */
  color: white;
  border: 0px;
  border-top-right-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 0px;

  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

  font-family: inherit;
  font-size: inherit;
}

#search-button:hover {
  background-color: #5f1669;
  cursor: pointer;

  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

#account-info {
  display: inline-block;
  position: absolute;
  /*float: right;*/
  right: 0px;
  margin-right: 10px;
  line-height: 30px;
  z-index: 11;
}

#username {
  /*display: inline;*/
  /*font-size: 14px;*/
  color: white;
  cursor: pointer;
}

.left-sidebar {
  position: fixed; 
  background-color: rgba(0, 0, 0, 0.10);
  padding: 75px 15px;
  width: 200px;
  height: 100%;
}

.left-sidebar-item {
  margin-left: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  display: block;
}

.right-sidebar {
  display: inline-block;
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: white;
  padding: 75px 15px;
  width: 200px;
  height: 100%;
}

.right-sidebar-item {
  margin-left: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  display: block;
}

.contact-info-box {
  /*width: */
  position: absolute;
  
}

.main-content {
  position: relative;
  width: 700px;
  padding: 75px 25px;
}

.gallery {
  position: relative;
}

.main-image {
  display: block;
  /*position: relative;*/
  /*position: absolute;*/
  width: 595px;
  height: 400px;
  float: right;
}

.hero-image {
  width: 100%;
}

.thumbnail-row {
  display: block;
  /*width: 100%;*/
  /*height: 100px;*/
  margin-top: 10px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.thumbnail-row-vertical {
  display: inline-block;
  width: 105px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.thumbnail {
  display: inline-block;
  /*margin: 5px;*/
  position: relative;
  /*float: left;*/
  width: 100px;
  height: 100px;
  object-fit: cover;
  overflow: hidden;
  text-align: center;
}

.category {
  box-sizing: border-box;
  height: 200px;
  width: 340px;
  display: inline-block;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /*padding: 10px;*/
  position: relative;
}

.category-title {
  color: white;
  font-size: 18px;
  /*margin: 10px;*/
  text-align: center;
  /*vertical-align: middle;*/
  width: 100%;
  line-height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;

  background-color: rgba(0, 0, 0, 0.2);

  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.category-title:hover {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;

  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

/*.category-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.1;
  position: absolute;

  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.category-overlay:hover {
  opacity: 0.5;

  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
*/
footer {
  box-sizing: border-box;
  width: 100%;
  /*height: 100px;*/
  position: relative;
  /*bottom: 0px;*/
  background-color: rgba(0, 0, 0, 0.10);
  padding: 10px;
  text-align: center;
}

.footer-link {
  margin: 0px 10px;
}